data/*.json
!data/title.json
train/*
!train/*.py
!train/*.md
jieba
local/
DataMining/*.json
__pycache__/
model/.ipynb_checkpoints/
.ipynb_checkpoints
tokens/*.txt
*token.txt
*tokey.txt
*ignore.txt
out
cur
pre
raw.txt
Unt*.ipynb*
*.w2v*
*.w2v
current.csv
*.npy
